<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Accepted at</td>
      <td>Declined at</td>
      <td>Entree Selection</td>
    </tr>
  </thead>
  <tbody>
    <% guests.each do |guest| %>
      <tr>
        <td>
          <% if guest.name.present? %>
            <%= guest.name %>
          <% else %>
            (guest)
          <% end %>
        </td>
        <td><%= guest.accepted_at %></td>
        <td><%= guest.declined_at %></td>
        <td><%= guest.entree_selection %></td>
      </tr>
    <% end %>
  </tbody>
</table>
