<h1>Guests</h1>

<%= datagrid_form_for @guests_grid, url: guests_path %>

<p>Total guests: <%= @guests_grid.assets.total_entries %></p>

<%= datagrid_table @guests_grid %>
<%= will_paginate @guests_grid.assets %>
