<p><%= link_to 'Back', tables_path %></p>
<h1>Table #<%= @table.number %></h1>

<p><%= @table.description %></p>

<hr></hr>

<h2>Guests</h2>

<% @table.guests.each do |guest| %>
  <p><%= guest.name %></p>
<% end %>
